body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5d3d1;
  height: 100vh;
  margin: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 24px;
  background-color: white;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 16px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-top: 12px;
}

input {
  margin-top: 6px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

select {
  margin-top: 6px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

.next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.hyperlink {
  text-decoration: none;
  color: white;
}
